{% extends 'budgetSystem/register.html' %}
{% load static %}
{% block title %}budgets list{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'budgetSystem/budget_list.css' %}">
{% endblock %}

{% block content %}
    <h1>Budget list</h1>
    <ul>
        <p>Your budget list:</p>
        {% for budget in budgets %}
            <li>{{ budget.name }}</li>
        {% empty %}
            <li>No budgets found</li>
        {% endfor %}
    </ul>
    <h2>Add a new budget</h2>
    <form method="post">
        {% csrf_token %}
        {{ budget_form.as_p }}
        <button type="submit">Add Budget</button>
{% endblock %}

