<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>budgets list</title>
    <link rel="stylesheet" href="{% static 'budgetSystem/budget_list.css' %}">
</head>
<body>
    <h1>Budget list</h1>
    <ul>
        <p>Your budget list:</p>
        {% for budget in budgets %}
            <li>{{ budget.name }}</li>
        {% empty %}
            <li>No budgets found</li>
        {% endfor %}
    </ul>
    <h2>Add a new budget</h2>
    <form method="post">
        {% csrf_token %}
        {{ budget_form.as_p }}
        <button type="submit">Add Budget</button>
</body>
</html>


