{% extends 'budgetSystem/register.html' %}
{% load static %}
{% block title %}Category{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'budgetSystem/category_list.css' %}">
{% endblock %}

{% block content %}
    <h1>Category list</h1>
    <ul>
        <p>Your category list:</p>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% empty %}
            <li>No categories found</li>
        {% endfor %} 

    </ul>

    <h2>Add New Category</h2>
    <form method="post">
        {% csrf_token %}
        {{ category_form.as_p }}
        <button type="submit">Add Category</button>
{% endblock %}
