{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title">Welcome, {{ user.username }}</h2>
                    {% if user_profile and user_profile.profile_image %}
                    <img src="{{ user_profile.profile_image.url }}" alt="Profile Image" class="card-img-top img-fluid">
                    {% endif %}
                    <a href="{% url 'logout' %}" class="btn btn-danger mt-3">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<style>
    /* Custom CSS for Hamburger menu */
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
        font-size: 1.25rem;
    }
    .card {
        border: none;
    }
    .card-body {
        text-align: center;
    }
    .card-title {
        margin-bottom: 20px;
    }
</style>
{% endblock %}
