
{% extends 'budgetSystem/register.html' %}
{% load static %}
{% block title %}Expenses{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'budgetSystem/expenses_list.css' %}">
{% endblock %}

{% block content %}
    <h1>Expenses list</h1>
    <ul>
        {% for expense in expenses %}
            <li>{{ expense.name }} - {{ expense.amount }} - {{ expense.date }}</li>
        {% empty %}
            <li>No expenses found</li>
        {% endfor %}
    </ul>

    <h2>Add New Expense</h2>
    <form method="post">
        {% csrf_token %}
        {{ expense_form.as_p }}
        <button type="submit">Add Expense</button>
{% endblock %}
