<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'budgetSystem/login.css' %}">
    <title>Login</title>
</head>
<body>
      <!-- Login Form -->
      <div id="login-form">
        <h2>Welcome back</h2>
        <p>sign in to your account</p>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button type="submit">Login</button>
        </form>
        <a class="register-link" href="{% url 'user-register' %}">or Register</a>
    </div>

</body>