
{% extends 'budgetSystem/register.html' %}
{% load static %}
{% block title %}Transfer list{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'budgetSystem/transfer_list.css' %}">
{% endblock %}

{% block content %}
    <h1>transfer list</h1>
    <ul>
        {% for transfer in transfers %}
            <li>{{ transfer.name }} - {{ transfer.amount }} - {{ transfer.date }}</li>
        {% empty %}
            <li>No transfers found</li>
        {% endfor %}
    </ul>

    <h2>Add New Transfer</h2>
    <form method="post">
        {% csrf_token %}
        {{ transfer_form.as_p }}
        <button type="submit">Add Transfer</button>
{% endblock %}
