body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f4f6;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.animated-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    margin: 0;
    font-size: 24px;
    color: #2dc83f;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color:  #2dc83f;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color:  #2dc83f;
}

.mini-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.mini-content {
    flex: 1;
    padding-right: 20px;
}

.mini-content h1 {
    font-size: 36px;
    color: #333;
    margin: 0 0 20px;
}

.mini-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.mini-content .register-link {
    background-color:  #2dc83f;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mini-content .register-link:hover {
    background-color:  #72b97b;
}

.img img {
    max-width: 100%;
    height: auto;
}

#about, #budget {
    margin-top: 50px;
}

#about h2, #budget h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#about p, #budget p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

#about ul, #budget ul {
    margin-bottom: 20px;
}

#about ul li, #budget ul li {
    list-style-type: disc;
    margin-left: 20px;
}

#about ul li:last-child, #budget ul li:last-child {
    margin-bottom: 0;
}