#register-form {
    max-width: 400px;
    margin: auto; /* Center horizontally */
    margin-top: 20vh; /* Center vertically */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2dc83f;
}

#register-form form {
    display: flex;
    flex-direction: column;
}

#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="password"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#register-form button {
    background-color: #2dc83f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#register-form button:hover {
    background-color: #49c359;
}