@media only screen and (max-width: 768px) {
    /* Adjust the styles here for small screens */
    #register-form {
        padding: 20px;
    }
    #register-form h2 {
        font-size: 1.5rem;
    }
    #register-form p {
        font-size: 1.2rem;
    }
    #register-form form label,
    #register-form form input,
    #register-form form button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Styles for larger screens */
@media only screen and (min-width: 769px) {
    /* Adjust the styles here for large screens */
    #register-form {
        width: 50%;
        margin: 0 auto;
        padding: 40px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    #register-form h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    #register-form p {
        font-size: 1.4rem;
        margin-bottom: 30px;
    }
    #register-form form label {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    #register-form form input {
        width: calc(100% - 10px);
        margin-bottom: 20px;
        padding: 10px;
        font-size: 1rem;
    }
    #register-form form button {
        width: calc(100% - 10px);
        padding: 15px;
        font-size: 1.2rem;
    }
}